In [48]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import load_model
import pickle
import tensorflow as tf

In [49]:
# load the ANN model , Scalar , encoding

model = load_model('model.h5')

with open('label_encode_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('Geo_encoder.pkl','rb') as file:
    geo_encoder = pickle.load(file)

with open('Scalar.pkl','rb') as file:
    scalar = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [50]:
# example input data 

input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender' : 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance':60000,
    'NumOfProducts' : 2,
    'HasCrCard' :1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 500000
}

In [51]:
df = pd.DataFrame([input_data])

In [52]:
df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1           500000

[1 rows x 10 columns]

In [53]:
df['Gender'] = label_encoder_gender.transform(df['Gender'])

In [54]:
df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1           500000

[1 rows x 10 columns]

In [55]:
geo_encoded = geo_encoder.transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=geo_encoder.get_feature_names_out())

In [56]:
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [57]:
df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [58]:
df_scaled = scalar.transform(df)
df_scaled

array([[-0.52794372,  0.91634307,  0.10714725, -0.69485692, -0.26543272,
         0.79175325,  0.64109738,  0.96572973,  6.97386881,  0.98807114,
        -0.57449099, -0.57097173]])

In [59]:
# prediction

prediction=model.predict(df_scaled)
print(prediction)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 90ms/step
[[0.00698219]]